.col-centered{
    display: flex !important;
    flex-direction: column !important;
    justify-content:center;
    align-items: center !important;
    height:150px;
}

.container-fluid {
    margin-top: 20px;
    margin-bottom:20px;
    min-height:fit-content;
}

.container-main-body{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-results-main{
    min-height:fit-content;
}