.row-results-main-body {
  margin-top: 20px;
  display:flex;
  /* justify-content: flex-start; */
}

.container {
  min-width: fit-content !important;
  max-width: fit-content !important;
  margin:1px;
  margin-bottom:10px;
  /* border: 2px solid orange ; */
}

.container-results-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.row-results {
  display:flex;
  flex-wrap:wrap;
  min-width:fit-content;
  margin:20px;
  /* justify-content: space-evenly; */
}

.row-results-body {
  display: flex;
  min-width: fit-content !important;

}

.row-map {
  margin-top: 15px;
}

.col-md-2 {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

.row-card-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-rating {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.city-rating {
  display: flex;
  justify-content: center;
}

.city-rating-title {
  text-decoration: underline;
}

.col-card-links {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.guide-icon {
  text-decoration: none !important;
  color: inherit !important;
}

  .location-main-results-container {
    display: flex; 
    justify-content: space-between
  }

  .col-location-main-results-container {
    display:flex;
  }

  .col-location-primary-results{
    min-width:fit-content;
  }

  .col-location-perks {
    min-width:fit-content;
  }