.row-results-main-body {
  margin-top: 20px;
}

.container-results-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.row-results-row {
  justify-content: space-evenly;
}

.col-md-2 {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

.row-card-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-rating-col {
  justify-content: center;
}

.city-rating {
  display: flex;
  justify-content: center;
}

.city-rating-title {
  text-decoration: underline;
}

.col-card-links {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.guide-icon {
  text-decoration: none !important;
  color: inherit !important;
}

  .location-main-results-container {
    display: flex; 
    justify-content: space-between
  }

  .col-location-main-results-container {
    display:flex;
    
  }
